#abhay-logo {
  animation: logoAnimation 1.5s linear forwards;
}
header {
  overflow: hidden;
  padding: 10px;
}
nav {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  margin: 0;
  /* margin-top: 40px; */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(108, 108, 108);
  text-decoration: none;
}
.border-bottom {
  border-bottom: 1px solid rgb(108, 108, 108);
}
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  top: 90%;
  left: 0;
  background-color: rgb(108, 108, 108);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.link:hover::after {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.hero {
  padding: 5rem 10rem;
  display: flex;
  position: relative;
}
.hero .header-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: white;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}
.hero .left {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero .left h1 {
  font-size: 3.8rem;
  font-family: VisueltPro-Bold, sans-serif;
  color: #212121;
}
.hero .left p {
  padding-top: 0.5rem;
  line-height: 2.2rem;
}
.button-wrapper {
  margin: 3rem 0;
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: padding-left;
  transition-delay: 200ms;
}
.button-wrapper .btn-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(108, 108, 108, 0.1);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: width, height, border-radius, left;
  transition-delay: 100ms;
}
.button-wrapper button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: VisueltPro-Bold, sans-serif;
  color: #212121;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.line-arrow {
  width: 3rem;
  background-color: #212121;
  height: 2px;
  display: inline-block;
}

.line-arrow::before {
  content: "";
  width: 0.4rem;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transform-origin: right;
  transform: rotate(45deg);
  right: 0.3rem;
}

.line-arrow::after {
  content: "";
  width: 0.4rem;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transform-origin: right;
  transform: rotate(-45deg);
  right: 0.3rem;
}

.button-wrapper:hover {
  padding-left: 3rem;
}
.button-wrapper:hover .btn-circle {
  width: 95%;
  height: 3.5rem;
  border-radius: 23rem;
  left: 2rem;
}

.hero .hero-links {
  padding-top: 2rem;
  display: flex;
  gap: 1.5rem;
}
.right {
  position: relative;
  width: 50%;
}
.right .cross {
  transition: 1s linear;
  opacity: 0.7;
  transition-property: opacity;
}
.right:hover .cross {
  opacity: 0.3;
}

.img-right {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(./assets/ceasar-bust.c2bf68cb3b24b5361c95d04c445511a8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: breathe 2s linear infinite alternate-reverse;
}
.header-scroll-to-bottom {
  right: -3rem;
  position: fixed;
  bottom: 20vh;
  transform: rotate(90deg);
  padding: 1rem;
}

.header-scroll-to-bottom:hover {
  animation: breatheScroll 1s linear infinite alternate-reverse;
}

.header-scroll-to-bottom .text {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: VisueltPro-Bold, sans-serif;
  color: #585858;
}
.header-scroll-to-bottom .text .tt {
  height: 0.6rem;
}
.scroll-line-arrow {
  width: 4rem;
  background-color: #585858;
  height: 1px;
  display: inline-block;
}

.scroll-line-arrow::after {
  content: "";
  width: 0.4rem;
  height: 1px;
  background-color: #585858;
  position: absolute;
  transform-origin: right;
  transform: rotate(45deg);
  right: 1rem;
}

.scroll-line-arrow::before {
  content: "";
  width: 0.4rem;
  height: 1px;
  background-color: #585858;
  position: absolute;
  transform-origin: right;
  transform: rotate(-45deg);
  right: 1rem;
}

.remove {
  right: -10rem;
  opacity: 0;
  transition: 0.5s linear;
}

/* work section */

#work {
  background-color: white;
}
#work .article-intro {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#work .article-intro h2 {
  font-family: VisueltPro-Bold, sans-serif;
  font-size: 2.5rem;
  color: #212121;
  text-align: center;
  margin-bottom: 2rem;
}

#work .article-intro p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.work-items {
  background-color: rgba(108, 108, 108, 0.1);
}
.work-item {
  display: flex;
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(108, 108, 108, 0.1);
}
.work-item .left,
.work-item .right {
  width: 50%;
  padding: 5rem 0rem;
}
.work-items .work-item:last-child {
  border-bottom: none;
}
.work-items .one::before {
  width: 10rem;
  height: 1rem;
  background-color: rgba(108, 108, 108, 0.5);
  content: "";
  clip-path: polygon(0 58%, 100% 58%, 100% 65%, 0 65%);
  border-radius: 2rem;
  transition-property: width;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.work-items .one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: rgba(108, 108, 108, 0.5);
  transition-property: padding-top, color;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.work-items .left h2 {
  font-size: 2.5rem;
  line-height: 2rem;
  transition-property: font-size;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
}
.work-items .one h2:first-child {
  margin-top: 0.7rem;
  font-size: 1rem;
  text-align: center;
  font-family: VisueltPro-Bold, sans-serif;
}

.work-items .left .two,
.work-item .left .three {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(108, 108, 108);
  padding-top: 0.5rem;
  transition-property: gap, color, padding-top;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.work-item .left .three {
  text-transform: none;
  padding: 4rem 2rem;
  font-size: 0.8rem;
  line-height: 2rem;
}
.work-item .right {
  padding-right: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  z-index: 1;
  transition-property: padding-right;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.work-item .right a {
  text-decoration: none;
  color: rgba(108, 108, 108, 0.5);
  font-family: VisueltPro-Bold, sans-serif;
  font-size: 1.5rem;
  transition-property: color, transform;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.work-item .right a:hover {
  color: black;
  transform: scale(1.1);
}
.work-item .work-img {
  position: absolute;
  aspect-ratio: 16/9;
  height: 15rem;
  /* background-color: rgba(108, 108, 108, 0.1); */
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.3rem;
  transition-property: right, height, opacity;
  transition-delay: 50ms;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
  background-position: center;
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
}

.work-item:hover .one::before {
  width: 15rem;
  background-color: #212121;
}
.work-item:hover .one {
  padding-top: 2rem;
  color: #212121;
}

.work-item:hover .left h2 {
  font-size: 3rem;
}
.work-item:hover .one h2:first-child {
  font-size: 1.5rem;
}

.work-item:hover .left .two {
  gap: 1.5rem;
  color: #212121;
  padding-top: 0.7rem;
}

.work-item:hover .work-img {
  right: 5%;
  height: 20rem;
  opacity: 0.3;
}
.work-item:hover .right {
  padding-right: 20%;
}
.work-item:hover .right a {
  color: #494949;
}

.there-is-more {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.there-is-more p {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.a-href {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: min-content;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  font-family: VisueltPro-Bold, sans-serif;
  color: black;
  transition: margin-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 1.5rem;
  white-space: nowrap;
}
.a-href:hover {
  margin-left: 1rem;
}
.line-arrow-there-is-more {
  position: relative;
  width: 3rem;
  background-color: #212121;
  height: 2px;
  display: inline-block;
}

.line-arrow-there-is-more::before {
  content: "";
  width: 0.4rem;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transform-origin: right;
  transform: rotate(45deg);
  right: 0rem;
}

.line-arrow-there-is-more::after {
  content: "";
  width: 0.4rem;
  height: 2px;
  background-color: #212121;
  position: absolute;
  transform-origin: right;
  transform: rotate(-45deg);
  right: 0rem;
}

footer {
  background-color: #000;
  position: relative;
  padding: 5rem 5rem;
  overflow: hidden;
}
.upar-wala {
  margin: 10rem 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.upar-wala h1 {
  color: white;
  font-size: 2.5rem;
  font-family: VisueltPro-Bold, sans-serif;
}
.upar-wala .button-wrapper {
  display: inline-block;
}
.upar-wala .button-wrapper .btn-circle {
  background-color: rgba(108, 108, 108, 0.5);
}
.upar-wala .button-wrapper .line-arrow,
.upar-wala .button-wrapper .line-arrow::after,
.upar-wala .button-wrapper .line-arrow::before {
  background-color: white;
}
.upar-wala .button-wrapper button {
  color: white;
}
#wwm-decor {
  position: absolute;
  width: 15rem;
  right: 10%;
  top: -10%;
  transform: translate(-120px, -120px);
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
.circle-border {
  position: absolute;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px solid rgba(108, 108, 108, 0.5);
  bottom: -20%;
  left: -20%;
}

.flex-gap-1 {
  display: flex;
  width: 100;
  gap: 1rem;
  justify-content: space-around;
}
/* mobile view */

@media screen and (max-width: 786px) {
  nav {
    padding: 0 2rem;
  }
  nav ul {
    gap: 1rem;
    padding: 0;
    margin-left: 0.5rem;
  }
  .hero {
    flex-direction: column;
    padding: 5rem 2rem;
    gap: 5rem;
  }
  .hero .left h1 {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }
  .hero .left,
  .hero .right {
    width: 100%;
  }
  .hero .left {
    margin-bottom: 2rem;
  }
  .hero .right {
    margin-bottom: 2rem;
    height: 70vh;
  }
  .hero .hero-links {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  .article-intro {
    padding: 0 2rem;
  }
  .cross {
    width: 150vw !important;
    height: 150vw !important;
  }
  .img-right {
    left: -5%;
    top: -5%;
    width: 100vw;
  }
  .header-scroll-to-bottom {
    right: -4rem;
  }
  #work .article-intro {
    padding: 5rem 2rem;
  }
  .there-is-more {
    padding: 5rem 1rem;
  }
  .a-href {
    gap: 0.5rem;
  }
  .work-item {
    flex-direction: column;
    height: min-content;
  }
  .work-item .work-img {
    right: -120%;
  }
  .work-item:hover .work-img {
    opacity: 0.3;
    right: -29%;
  }
  .work-items .one::before {
    width: 1rem;
  }
  .work-item:hover .left h2 {
    font-size: 2.5rem;
    white-space: nowrap;
  }
  .work-item:hover .one h2:first-child {
    font-size: 1rem;
  }
  .work-item .left .one {
    gap: 0.5rem;
  }
  .work-item .left,
  .work-item .right {
    width: 100%;
    height: min-content;
    padding: 2rem 1rem;
  }

  footer {
    padding: 5rem 2rem;
  }
  .upar-wala {
    margin: 5rem 0;
  }

  #wwm-decor {
    position: absolute;
    right: 25%;
    top: -90%;
    transform: translate(120px, 120px);
  }
}
